<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>


  <!-- Go to spring interceptor instead of filters
   <interceptor>
        <interceptor-name>google-resource-interceptor</interceptor-name>
        <interceptor-class>com.anmi.mailclient.web.interceptoreptor.GoogleResourceInterceptor</interceptor-class>
    </interceptor>

    <interceptor-mapping>
        <interceptor-name>google-resource-interceptor</interceptor-name>
        <url-pattern>/g/*</url-pattern>
    </interceptor-mapping>
-->
    <!--<interceptor>
        <interceptor-name>springSecurityFilterChain</interceptor-name>
        <interceptor-class>org.springframework.web.interceptor.DelegatingFilterProxy</interceptor-class>
    </interceptor>

    <interceptor-mapping>
            <interceptor-name>springSecurityFilterChain</interceptor-name>
            <url-pattern>/*</url-pattern>
    </interceptor-mapping>-->


</web-app>